body { background-color: @color-bg; .font1; color: @color-txt; }

a { text-decoration: none; border-width: 0 0 1px; border-style: dotted; }
a:focus,
a:hover,
a:active { color: @color; border-style: solid; }

.nav {}
.nav a { border-width: 0; }

h2 {
    /*font-size: 24px;
    display: inline-block;*/
}

.thematique {
  display: inline-block;
  /*width: 100%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
}

.thematique header { margin-bottom: @p; }

.thematique h2,
h2.thematique {
  margin: @p*2 0 0;
  padding-bottom: @gutter*2;
  border-bottom: @gutter solid @color;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.thematique header {}
.thematique header nav { display: block; width: 100%; margin: @p 0; clear: both; text-align: center; font-size: 90%; }
.thematique header nav li { display: inline-block;  margin: @gutter/2 @gutter/3; }
.thematique header nav li a { background: @color-bg; padding: @gutter/2 @gutter; border: 1px solid; border-radius: @gutter/2; color: @color; }

.thematique header h3 { .offscreen; }
.thematique header p { margin: 0; color: @color-mid; font-size: small; }

.thematique section {
  /*display: inline-block;
  width: 90%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
  margin-bottom: @p*2;
}

.thematique section h3 {
  /*background-color: #333;
  color:@color-bg;
  font-size: 1.10em;
  padding:30px;*/
  font-weight: bold;
}

.thematique section h3 em { color: @color; font-weight: normal; font-style: normal; }

.thematique section {
  ul { margin: 0 0 @p @gutter*2; list-style: none; }
  ul li {}
  ul li:before { margin-left: -@gutter*2; content: "\2022"; color: @color; font-size: 2em; line-height: 0; vertical-align: middle; }
  ul li ul { margin-top: @gutter; }
  ul li ul li { margin-bottom: @gutter/2; font-size : 80%; }
  ul li ul li:before { content: "• "; font-size: 1em; color: @color-mid; }
}

aside {
  display: inline-block;
  /*width: 90%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: @gutter;
  padding: @gutter;*/
  font-size: small;
}

.thematique aside {
  width: 100%;
  margin: @p 0;
  padding: @gutter;
  background-color: #DDDDDD;
}
/*
.thematique section p {
    margin: 0 @gutter;
}
*/

/* end */