body { background-color: @color-bg; .font1; color: @color-txt; }

a { text-decoration: none; border-width: 0 0 1px; border-style: dotted; }
a:focus,
a:hover,
a:active { color: @color; border-style: solid; }

.nav {}
.nav a { border-width: 0; }

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

#howto { color: @color-mid; font-size: small; }

/* nav laterale */

#toc {}
#toc h2 { color: @color; font-size: 1em; font-weight: bold; text-align: center; }
#toc nav ul,
#toc nav li { border-color: fade(@color-mid, 20%); border-style: solid; }
#toc nav ol { border-width: 1px 0 0; }
#toc nav li { border-width: 0 0 1px; }
#toc nav li a { display: block; padding: @gutter/2; }
#toc nav li a:focus,
#toc nav li a:hover,
#toc nav li a:active { background-color: fade(@color, 20%); color: inherit; }
#toc nav li.on { background-color: @color; color: @color-bg; }

@media (min-width: 1280px) {
#toc {
  position: fixed;
  top: 150px;
  left: 0;
  padding: @gutter*2 0;
  background-color: fade(@color-bg, 90%);
}
#toc h2 { padding: 0 @gutter*3; text-align: left; }
#toc nav li a { padding-left: @gutter*3; padding-right: @gutter*3; }

}

/* thematique */

.thematique {
  display: inline-block;
  /*width: 100%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
}

.thematique header { margin-bottom: @p; }

.thematique h2 {
  margin: @p*2 0 0;
  padding-bottom: @gutter*2;
  border-bottom: @gutter solid @color;
  text-transform: uppercase;
}

.thematique header {}
.thematique header nav { display: block; width: 100%; margin: @p 0; clear: both; text-align: center; font-size: 90%; }
.thematique header nav li { display: inline-block; margin: @gutter/2 @gutter/3; }
.thematique header nav li a { display: block; margin: 0; padding: @gutter/2 @gutter; border: 1px solid; border-radius: @gutter/2; color: @color; }
.thematique header nav li a:focus,
.thematique header nav li a:hover,
.thematique header nav li a:active { background-color: fade(@color, 10%); }

.thematique header h3 { .offscreen; }
.thematique header p { margin: 0; color: @color-mid; font-size: small; }

.thematique section {
  /*display: inline-block;
  width: 90%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
  margin-bottom: @p*2;
}

.thematique section h3 {
  /*background-color: #333;
  color:@color-bg;
  font-size: 1.10em;
  padding:30px;*/
  font-weight: bold;
}

.thematique section h3 em { color: @color; font-weight: normal; font-style: normal; }

.thematique section {
  ul { margin: 0 0 0 @gutter*2; list-style: none; }
  ul li { margin-bottom: @p; }
  ul li:before { margin-left: -@gutter*2; content: "\2022"; color: @color; font-size: 2em; line-height: 0; vertical-align: middle; }
  ul li ul { margin-top: @gutter; }
  ul li ul li { margin-bottom: @gutter/2; margin-left: @gutter*3; font-size: 80%; list-style-type: disc; padding-left: @gutter*1.5; }
  ul li ul li:before { content:''; }
}

.thematique .correspondance {
  width: 100%;
  margin: @p 0;
  padding: @gutter;
  background-color: fade(@color-mid, 8%);
  color: @color-mid;
  font-size: small;
  h4 { margin: 0; font-weight: bold; }
  p { margin: 0; }
}

/* end */