body { background-color: @color-bg; .font1; color: @color-txt; }

a { text-decoration: none; border-width: 0 0 1px; border-style: dotted; border-color: @color; }
a:focus,
a:hover,
a:active { color: @color; border-width: 0 0 2px; border-style: solid; }

.nav {}
.nav a { border-width: 0; }

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

pre, code, kbd, samp, var, tt { font-family: @font3; font-size: 90%; border-radius: 4px; }
pre, code, samp, var, tt { padding: .1em .3em; background-color: fade(@color,5%); border: 1px solid fadeout(@color,90%); white-space: nowrap; }

#howto { color: @color-mid; font-size: small; }

/* thematique */

.thematique {
  display: inline-block;
  /*width: 100%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
}

.thematique header { margin-bottom: @p; }

.thematique h2 {
  margin: @p*2 0 0;
  padding-bottom: @gutter*2;
  border-bottom: @gutter solid @color;
  text-transform: uppercase;
}

.thematique header {}
.thematique header nav { display: block; width: 100%; margin: @p 0; clear: both; text-align: center; font-size: 80%; }
.thematique header nav li { display: inline-block; margin: @gutter/2 @gutter/3; }
.thematique header nav li a { display: block; margin: 0; padding: @gutter/2 @gutter; border: 1px solid; border-radius: @gutter/2; color: @color; }
.thematique header nav li a:focus,
.thematique header nav li a:hover,
.thematique header nav li a:active { background-color: fade(@color, 10%); }

.thematique header h3,
.thematique header p { margin: 0; color: @color-mid; font-size: small; }
.thematique header h3 { font-weight: bold; }

.thematique section {
  /*display: inline-block;
  width: 90%;
  background-color: @color-bg;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 30px;*/
  margin-bottom: @p*2;
}

.thematique section h3 { font-weight: bold; }
.thematique section h3 em { color: @color; font-weight: normal; font-style: normal; }

.thematique section {
  ul { margin: 0 0 0 @gutter*2; list-style: none; }
  ul li { margin-bottom: @p; }
  ul li:before { margin-left: -@gutter*2; content: "\2022"; color: @color; font-size: 2em; line-height: 0; vertical-align: middle; }
  ul li ul { margin-top: @gutter; }
  ul li ul li { margin-bottom: @gutter/2; margin-left: @gutter*3; font-size: 80%; list-style-type: disc; padding-left: @gutter*1.5; }
  ul li ul li:before { content:''; }
}

.thematique .correspondance {
  width: 100%;
  margin: @p 0;
  padding-top: @gutter;
  border-top: 1px dashed fade(@color-mid, 30%);
  color: @color-mid;
  h4 { margin: 0; font-weight: bold; font-size: small; }
  p { margin: 0; font-size: small; }
}

/* end */